<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @order.complete %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
