<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @expenditure.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @expenditure.price %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
